/*-------------------- HERO ---------------------*/

#artikler-hero {
    width: 100%; /* hero fylder hele bredden af skærmen */
}

#artikler-hero img {
    width: 100%; /* billedet skal fylde hele bredden af elementet det er placeret i */ 
    height: auto; /* højden tilpasses automatisk */
    object-fit: cover; /* sørger for at det dækker hele elementet uden af det forvrænges */
}

#artikler-hero h1,
#artikler-hero p {
    position: absolute; /* gør det muligt at placeret h1 ovenpå billedet */
    text-align: center; /* teksten er placeret centreret i dets element */
    left: 50%; /* bredden justeres i px ved forskellige skærme, så derfor er denne i % */
    transform: translate(-50%, -50%); /* brugt til at hjælpe med at placere h1 ovenpå hero-billedet */
    padding: 0; /* ingen padding under denne, da der er skrift under borderen, og det ville fylde for meget */
    color: #eee9e1;
}

#artikler-hero h1 {
    width: 300px; /* fast bredde på overskriften i hero, bestemmer også borderens bredde */
    top: 220px; /* brugte px her fordi det var mere fast end % */
    border-bottom: 2px solid #eee9e1; /* 2px tyk border i samme farve som h1 */
}

#artikler-hero p {
    width: 350px; /* bredden på <p> elementet */
    top: 300px; /* placering fra toppen af <p> elementet */
}

#news-info span { 
    font-weight: 700; /* for at gøre HAVBLINKs navn mere fed */
}

/*------------------- BØLGE ------------------*/

#background-wave {
    margin: -10% 0 -5px 0; /* for at få bølgen til at gå under footer uden et hvidt mellemrum*/
    display: block; /* for at få bølgen til at fylde hele bredden af skærmen */
    width: 100%;
    height: auto;
}

#background-wave svg {
    fill: #c7e4dc; /* farven på bølgen */
}

/*------------------- CONTENT ------------------*/

.news-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
}

.news-content { 
    display: flex;
    flex-direction: column; /* kolonne-layout på siden */
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 0 4% 0;
}

#news-content-upper {
    background-color: #c7e4dc;
}

#news-content-lower {
    background-color: #eee9e1;
}

.news-container {
    display: flex;
    flex-direction: row; /* tekst sidder til venstre, og billede til højre - denne ændres ved 768px */
    justify-content: center;
    align-items: center;
    max-width: 80%; /* jeg ville gerne have lidt plads ude til siderne */
    margin: 60px;
    gap: 5%; /* mindre gap mellem billede og tekst */
}

#news-info, #news-info-line {
    display: none; /* jeg flytter i 1024px responsiv hero <p> ned under hero-billedet med en linje under, indtil da er elemterne gemt */
}

#search-container { /* en div nederst på siden med frem- og tilbage-pile */
    display: flex;
    flex-direction: column; /* pilene er øverst, og der er en knap under dem, indtil 768px, hvor alle 3 elementer er på linje */
    justify-content: center;
    width: 100%;
}

#back-next {
    display: flex;
    flex-direction: row; /* pilene skal være i en række */
    justify-content: center; 
    align-items: center;
    padding: 0 10%;
    margin: -50px 0 30px 0;
    width: 100%;
    gap: 85%; /* de skal være på hver sin side, men på linje med artikel-elementerne over dem */
}

#next {
    fill: #57716f; /* farveskift på .svg-filen */
    transition: ease-in-out 0.2s; /* og en blød transition */
}

#next:hover {
    fill: #efd7af;
    transition: ease-in-out 0.2;
}

#back { /* der er ingen tidligere nyhedsartikler, så denne pil er "greyed out" */
    transform: rotate(180deg);
    fill: #57716f85;
}

.button3 {
    display: flex;
    margin: 0 auto 50px auto; /* knappen skal placeres midt på siden, og der skal være lidt luft under den før footeren */
}


/*------------------ EKSTRA H1 ------------------*/

@media screen and (max-width:1150px){ /* måtte tilføje et ekstra breakpoint til headeren på alle sider, dog justeret lidt forskelligt, så derfor er den ikke under styles.css */
    #artikler-hero {
        padding-top: 20px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #artikler-hero h1 {
        width: 260px;
        top: 180px;
    }
    
    #artikler-hero p {
        font-size: 13pt;
        width: 320px;
        top: 250px;
    }
}

/*------------------ RESPONSIVE IPAD PRO ------------------*/

@media screen and (max-width:1024px){
    #artikler-hero {
        padding-top: 45px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #artikler-hero h1 {
        width: 200px;
        border-bottom: 2px solid #eee9e1;
        top: 230px;
    }

    #artikler-hero p {
        display: none; /* skjuler teksten på hero-billedet */
    }

    #news-info  {
        display: block; /* viser teksten under hero-billedet */
        font-size: 14pt; /* teksten skal gerne se anderledes ud end <p> ved artiklerne */
        font-weight: 600;
        width: 450px;
        margin: 35px 0 45px 0; /* margin til toppen og bunden */
    }

    #news-info-line {
        display: block;
    }

    .img-wrapper { /*billedet skal helst være mindre på mindre skærme */
        width: 310px;
        height: 250px;
    }

    .text-wrapper span { 
        font-size: 14pt;
    }

    .link-text {
        font-size: 12pt;
    }
}

/*------------------ RESPONSIVE IPAD MINI ------------------*/

@media screen and (max-width:768px){
    #artikler-hero {
        padding-top: 50px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #artikler-hero h1 {
        width: 180px;
        border-bottom: none; /* border-bottom kom i vejen, da skriften blev mindre, derfor er den skjult fra 768px */
        top: 190px;
    }

    #news-info  {
        font-size: 12pt; /* teksten skal gerne se anderledes ud end <p> ved artiklerne */
        max-width: 70%;
        margin: 35px 0 40px 0; /* margin til toppen og bunden */
    }

    .news-content {
        padding: 0;
    }
    
    .news-container {
        display: flex;
        flex-direction: column-reverse; /* så det bliver billede - tekst - billede - tekst */
        max-width: 80%;
        margin: 40px 0 0 0; /* fjerner margin til siden og bunden */
        gap: 5%;
    }

    .news-container2 {
        flex-direction: column; /* så det bliver billede - tekst - billede - tekst */
    }

    .img-wrapper {
        max-width: 100%;
        height: 250px;
        padding: 0 0 6% 0;
    }

    .text-wrapper span { 
        font-size: 12pt;
    }

    .button2 {
        margin: 40px;
    }

    #back-next { 
        margin: 20px 0 30px 0; /* tilføjer lidt mellerum og og lidt mere under elementet */
        justify-content: space-between; /* pilene og knappen skal være placeret på linje og jævnt fordelt på det element de er placeret i */
        gap: 0;
    }

    #back-next svg {
        min-width: 40px;
        max-width: 40px;
        height: auto;
    }

    .button4 {
        display: flex; /* knappen under back-next div skjules og en ny knap, der sidder på linje med pilene, vises i stedet - for at spare på plads på skærme */
    }

    .button3 {
        display: none;
    }
}

/*------------------ EKSTRA H1 ------------------*/

@media screen and (max-width:530px){
    #artikler-hero h1 {
        top: 155px; /* for at få teksten til at være mere centreret i forhold til hero-billedet */
    }
}

/*------------------ RESPONSIVE IPHONE 14 PRO MAX TIL M MOBIL ------------------*/

@media screen and (max-width:430px){
    #artikler-hero h1 {
        top: 140px;
    }

    #welcome-container {
        padding: 0 0 8% 0;
    }

    .img-wrapper {
        width: 250px;
        height: 200px;
        padding: 0 0 6% 0;
    }

    .text-wrapper span { 
        font-weight: 600;
        font-size: 11pt;
    }
}
