/*-------------------- HERO ---------------------*/

#visit-hero {
    width: 100%; /* hero fylder hele bredden af skærmen */
}

#visit-hero img {
    width: 100%; /* billedet skal fylde hele bredden af elementet det er placeret i */ 
    height: auto; /* højden tilpasses automatisk */
    object-fit: cover; /* sørger for at det dækker hele elementet uden af det forvrænges */
}

#visit-hero h1 {
    width: 910px; /* fast bredde på overskriften i hero, bestemmer også borderens bredde */
    position: absolute; /* gør det muligt at placeret h1 ovenpå billedet */
    text-align: center; /* teksten er placeret centreret i dets element */
    top: 290px; /* brugte px her fordi det var mere fast end % */
    left: 50%; /* mens bredden justeres i px ved forskellige skærme, så derfor er denne i % */
    transform: translate(-50%, -50%); /* brugt til at hjælpe med at placere h1 ovenpå hero-billedet */
    padding: 0 0 12px 0; /* tilføjer lidt luft mellem h1 og border, så den ikke er placeret lige under skriften */
    border-bottom: 2px solid #eee9e1; /* 2px tyk border i samme farve som h1 */
}

/*------------------- EVENTS ------------------*/

#visit-container {
    background-color: #c7e4dc; /* baggrundsfarve, samme farve som .svg-elementet */
    display: flex;
    flex-direction: column; /* indhold vises i kolonner */
    justify-content: center;
    align-items: center;
    width: 100%; /* elementet fylder hele bredden af skærmen */
}

#background-wave {
    margin: -10% 0 -5px 0; /* for at få bølgen til at gå under footer uden et hvidt mellemrum */
    display: block; /* for at få bølgen til at fylde hele bredden af skærmen */
    width: 100%;
    height: auto;
}

#background-wave svg {
    fill: #c7e4dc; /* farven på bølgen, samme som #visit-container */
}

#events-container {
    display: flex;
    justify-content: center; /* content skal være centeret i containeren */
    margin: 3% 0 5% 0; /* giver luft over under containeren */
    gap: 10%; /* stor afstand mellem elementer i containeren */
    width: 80%;
}

#events {
    display: flex;
    flex-direction: column; /* indholdet står i en kolonne */
    justify-content: center;
    align-items: center; /* uden denne bliver knappen i elementet bred */
    text-align: center; /* alt tekst i elementet er centreret */
    width: 80%;
    padding: 0;
}

#events h4 {
    font-weight: 600; /* gør h4 fed */
    width: 370px; /* fast bredde til h4 */
}

#events p {
    font-family: "playfair-display", serif; /* bruger serif specifikt til denne <p> */
    line-height: 1.5; /* giver lidt luft mellem linjerne */
}

.button {
    margin: 30px 0 0 0; /* giver luft over knappen */
}

#events-img-wrapper {
    width: 420px; /* fast bredde til billedwrapperen */
    height: 559px; /* fast højre til billedwrapperen */
    padding: 0;
    margin: 0 60px 0 0;
}

/*------------------ CONTENT ------------------*/

#visit-content {
    display: flex;
    flex-direction: column; /* content placeret i en kolonne */
    align-items: center; /* centrerer elementerne i containeren */
    text-align: center; /* overskriften i elementet bliver centreret */
    width: 100%;
    margin: 4% 0 4% 0;
}

#visit-content h1 {
    color: #57716f; /* h1 skal være samme farve som brødtekst */
}

.info-container {
    display: flex;
    flex-direction: row; /* content vises i en række */
    align-items: center; /* centrerer elementerne i containeren */
    max-width: 80%; /* elementet på fylder 80% af skærmens bredde */
    margin: 50px 60px; /* tilføjer luft omkring containeren */
    gap: 5%; /* giver afstand mellem elementerne */
}

/*------------------ EKSTRA H1 ------------------*/

@media screen and (max-width:1150px){
    #visit-hero {
        padding-top: 20px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #visit-hero h1 {
        width: 880px;
        top: 250px;
    }
}

/*------------------ RESPONSIVE IPAD PRO ------------------*/

@media screen and (max-width:1024px){
    #visit-hero {
        padding-top: 45px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #visit-hero h1 {
        width: 750px;
        top: 230px;
    }

    #events-container {
        width: 85%;
        gap: 9%;
    }

    #events {
        width: 250px;
    }

    #events-img-wrapper {
        height: 450px;
        width: 300px;
    }

    .img-wrapper { /*billedet skal helst være mindre på mindre skærme */
        width: 310px;
        height: 250px;
    }

    .link-text {
        font-size: 12pt;
    }
}

/*------------------ RESPONSIVE IPAD MINI ------------------*/

@media screen and (max-width:768px){
    #visit-hero {
        padding-top: 60px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #visit-hero h1 {
        width: 500px;
        top: 190px; /* for at få teksten til at være mere centreret i forhold til hero-billedet */
    }

    #events {
        width: 240px;
        margin: 15px 0;
    }

    #events-img-wrapper {
        height: 300px;
        width: 170px;
    }

    .info-container {
        margin: 40px 20px;
    }

    .img-wrapper {
        width: 320px;
        padding: 0 0 6% 0;
    }

    .text-wrapper span, .start-text { 
        font-weight: 600; /* tyk skrift på mindre skærme kan være lidt sværere at læse, derfor gøres den mindre tyk */
    }

    .info-container {
        flex-direction: column;
        max-width: 80%;
    }

    #info-container2 {
        flex-direction: column-reverse; /* så det bliver billede - tekst - billede - tekst */
    }

    .link-text {
        display: none; /* skjuler linket på mindre skærme og indsætter en knap i stedet */
    }
}

/*------------------ EKSTRA H1 ------------------*/

@media screen and (max-width:530px){
    #visit-hero {
        padding-top: 45px; /* for at få hero-billedet til at være lidt længere nede */
    }

    #visit-hero h1 {
        font-size: 17pt;
        top: 160px; /* for at få teksten til at være mere centreret i forhold til hero-billedet */
        width: 400px;
        border-bottom: none;
    }

    #events-img-wrapper { 
        display: none; /* billedet fyldte for mig, så det bliver skjult på mindre skærme */
    }
}

/*------------------ RESPONSIVE IPHONE 14 PRO MAX TIL M MOBIL ------------------*/

@media screen and (max-width:430px){
    #visit-hero h1 { /* yderligere justering af h1 på små skærme */
        font-size: 14pt;
        width: 85%;
        top: 135px;
    }

    #events {
        width: 150px;
    }

    #events-img-wrapper {
        display: none;
    }

    .img-wrapper {
        width: 250px;
        height: 200px;
    }

    .text-wrapper span { 
        font-size: 11pt;
    }
}
