/*-------------------- HERO ---------------------*/

#info-hero {
    width: 100%;
}

#info-hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#info-hero h1, #info-hero h4 {
    position: absolute;
    text-align: center;
    width: 460px;
    padding: 0;
    transform: translate(-50%, -50%); /* bruges i forbindelse med top og left til at centrere teksten på baggrunden */
    color: #eee9e1;
}

#info-hero h1 {
    top: 250px; /* højden er mere fast, hvis det er i px vs % */
    left: 75%; /* men denne skal forblive i %, da bredden jo bliver mindre i px */
    border-bottom: 2px solid #eee9e1;
}

#info-hero h4 {
    top: 300px;
    left: 75%;
}

/*------------------- BØLGE ------------------*/

#background-wave {
    margin: 0; 
    padding: 0;
    display: block; /* for at få bølgen til at fylde hele bredden af skærmen */
    width: 100%;
    height: auto;
}

#background-wave svg {
    fill: #c7e4dc; /* farven på bølgen */
}

#info-background-container {
    display: flex;
    justify-content: center;
    background-color: #c7e4dc;
    margin: -10px 0 0 0; /* fjerne lille mellemrum mellem bølgen og denne div */
}

/*------------------ CONTENT ------------------*/

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 80px 60px 20px 60px;
    gap: 5%;
}

#info-container2 {
    margin: -7px 0 80px 0;
}

/*------------------ EKSTRA H1 ------------------*/

@media screen and (max-width:1150px){
    #info-hero {
        padding-top: 20px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #info-hero h1 {
        top: 230px;
        width: 430px;
    }
    
    #info-hero h4 {
        font-size: 19pt;
        top: 280px;
        width: 370px;
    }
}

/*------------------ RESPONSIVE IPAD PRO ------------------*/

@media screen and (max-width:1024px){
    #info-hero {
        padding-top: 45px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #info-hero h1 {
        top: 210px;
        width: 340px;
    }

    #info-hero h4 {
        font-size: 16pt;
        top: 250px;
        width: 330px;
    }

    .img-wrapper { /*billedet skal helst være mindre på mindre skærme */
        width: 310px;
        height: 270px;
    }

    .text-wrapper span { 
        font-size: 14pt;
    }
}

/*------------------ RESPONSIVE IPAD MINI ------------------*/

@media screen and (max-width:768px){
    #info-hero {
        padding-top: 70px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #info-hero h1 {
        top: 190px;
        width: 235px;
    }

    #info-hero h4 {
        font-size: 12pt;
        top: 220px;
        width: 245px;
    }

    .info-content {
        padding: 0;
    }
    
    .info-container {
        flex-direction: column; /* så det bliver billede - tekst - billede - tekst */
        margin: 8% 0 3% 0;
        max-width: 70%;
    }

    #info-container2 {
        flex-direction: column-reverse; /* så det bliver billede - tekst - billede - tekst */
        margin: 5% 0 8% 0;
    }

    .img-wrapper {
        max-width: 100%;
        height: auto;
        margin: 0 0 5% 0;
    }

    .text-wrapper {
        text-align: center;
        width: 100%;
    }

    .text-wrapper span { 
        font-size: 12pt;
    }
}

/*------------------ EKSTRA H1 ------------------*/

@media screen and (max-width:530px){
    #info-hero h1,
    #info-hero h4 {
        width: 240px;
        left: 70%;
    }
    
    #info-hero h1 {
        font-size: 15pt;
        top: 160px;
    }

    #info-hero h4 {
        top: 185px;
    }
}

/*------------------ RESPONSIVE IPHONE 14 PRO MAX TIL M MOBIL ------------------*/

@media screen and (max-width:430px){
    #info-hero h1, 
    #info-hero h4 {
        width: 230px;
        left: 67%;
    }
    
    #info-hero h1 {
        top: 130px;
    }

    #info-hero h4 {
        top: 155px;
    }

    .text-wrapper {
        text-align: center;
    }

    .text-wrapper span { 
        font-weight: 600;
        font-size: 11pt;
    }
}
