

/*-------------------- HERO ---------------------*/

#vine-hero {
    width: 100%; /* hero fylder hele bredden af skærmen */
    padding: 5% 0 0 0; /* tilføjer lidt padding over hero-billedet, dvs. under headeren */
}

#vine-hero img {
    width: 100%; /* billedet skal fylde hele bredden af elementet det er placeret i */ 
    height: auto; /* højden tilpasses automatisk */
    object-fit: cover; /* sørger for at det dækker hele elementet uden af det forvrænges */
}

#vine-hero h1 {
    width: 420px; /* fast bredde på overskriften i hero, bestemmer også borderens bredde */
    position: absolute; /* gør det muligt at placeret h1 ovenpå billedet */
    text-align: center; /* teksten er placeret centreret i dets element */
    top: 290px; /* brugte px her fordi det var mere fast end % */
    left: 68%; /* bredden justeres i px ved forskellige skærme, så derfor er denne i % */
    color: #57716f;
    transform: translate(-50%, -50%); /* brugt til at hjælpe med at placere h1 ovenpå hero-billedet */
    padding: 0 0 12px 0; /* tilføjer lidt luft mellem h1 og border, så den ikke er placeret lige under skriften */
    border-bottom: 2px solid #57716f; /* 2px tyk border i samme farve som h1 */
}

/*------------------- VELKOMST ------------------*/

#wine-welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}

#wine-welcome img {
    width: 100%;
    height: auto;
    padding: 5% 30% 0;
}

#wine-welcome p {
    padding: 4% 32% 2% 32%;
}

#wine-welcome span {
    font-weight: 700; /* for at gøre HAVBLINKs navn mere fed */
}

/*------------------- VINE ------------------*/

#wine-content-container {
    display: flex;
    flex-direction: row; /* content placeres på en række */
    justify-content: center; /* centerer indholdet horisontalt */
    flex-wrap: wrap; /* vin-containerne rykke til næste linje, når skærmens bredde justeres */
    align-items: center; /* centrerer indholdet vertikalt */
    width: 100%; /* containeren fylder hele bredden afskærmen */
    padding: 4% 5%; /* giver luft omkring containeren */
    gap: 9%; /* mellemrum mellem vin-containerne */
}

.wine-container {
    width: 18%; /* vin-containere må være 18% af skærmens bredde */
    padding: 0 0 7% 0; /* giver luft under vin-containere */
    display: flex;
    flex-direction: column; /* indhold i containeren placeres i en kolonne */
    justify-content: center;  
    text-align: center; /* al tekst er centreret */
}

.wine-container img {
    height: auto; /* billedet forbliver de samme proportioner */
}

.wine-container h4 {
    width: 100%;
    padding: 2% 0; /* giver luft over og under h4 */
    font-weight: 600; /* lidt fed tekst */
    border-bottom: 2px solid #57716f; /* bestemmer farven på h4 og giver en 2p tyk border under */
}

.wine-container p {
    padding: 2% 0 5%; /* giver luft over og under <p> */
    width: 75%; /* begrænset bredde på <p> */
    margin: 0 auto; /* centerer <p> vandret */
}

.button2 {
    width: 100%; /* knappen er samme bredde på containeren, dvs. som både billede og borderen under h4 */
    display: block; /* knappen er et blok-element */
}

/*------------------ VINE REPSONSIVE ------------------*/

/*------------------ EKSTRA H1 ------------------*/

@media screen and (max-width:1150px){
    #vine-hero {
        padding-top: 60px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #vine-hero h1 {
        top: 230px;
    }
}

/*------------------ RESPONSIVE IPAD PRO ------------------*/

@media screen and (max-width:1024px){
        #vine-hero {
        padding-top: 70px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #vine-hero h1 {
        width: 350px; /* justerer bredden på h1 i hero */
        top: 210px; /* justerer hvor h1 i hero er placeret i forhold til øverste kant af skærmen */
    }

    #wine-welcome img {
        padding: 5% 28% 0; /* justerer luft over og på begge sider af billedet */
    }

    #wine-welcome p {
        padding: 4% 26% 2% 26%; /* justerer luft på alle sider af <p> */
    }

    .wine-container {
        width: 23%; /* justerer bredden på vin-containeren */
    }
    
    #wine-content-container {
        gap: 10%; /* justerer mellemrum elementerne i containeren */
        padding: 2% 5%; /* giver luft på alle sider af containeren */
    }
}

/*------------------ RESPONSIVE IPAD MINI ------------------*/

@media screen and (max-width:768px){
        #vine-hero {
        padding-top: 60px; /* for at få hero-billedet til at være lidt længere nede */
    }

    #vine-hero h1 {
        width: 250px; /* justerer bredden på h1 i hero */
        border-bottom: none; /* fjerne border under h1 */
        top: 190px; /* justerer hvor h1 i hero er placeret i forhold til øverste kant af skærmen */
    }

    #wine-welcome img {
        padding: 5% 26% 0;
    }

    #wine-welcome p {
        padding: 4% 23% 2% 23%; /* justerer luft på alle sider af <p> */
    }

    .wine-container {
        width: 25%; /* justerer bredden på vin-containeren */
    }
    
    #wine-content-container {
        gap: 10%; /* justerer mellemrum elementerne i containeren */
    }

    .wine-container p {
        width: 80%;
    }
}

/*------------------ EKSTRA H1 ------------------*/

@media screen and (max-width:530px){
        #vine-hero {
        padding-top: 45px; /* for at få hero-billedet til at være lidt længere nede */
    }
    
    #vine-hero h1 {
        top: 130px; /* for at få teksten til at være mere centreret i forhold til hero-billedet */
    }
}

/*------------------ RESPONSIVE IPHONE 14 PRO MAX TIL M MOBIL ------------------*/

@media screen and (max-width:430px){
    #vine-hero h1 { /* yderligere justering af h1 på små skærme */
        width: 200px;
        top: 120px;
    }

    #wine-welcome img {
        padding: 5% 24% 0;
    }

    #wine-welcome p {
        padding: 4% 18% 2% 18%;
    }

    .wine-container {
        width: 42%; /* justerer bredden på vin-containeren, så der nu kun er to per række */
    }
    
    #wine-content-container {
        gap: 6%;
    }

    .wine-container p {
        width: 77%;
    }
}

/*------------------ RESPONSIVE MOBIL M og mindre ------------------*/

@media screen and (max-width:376px){
    #vine-hero h1 {
        display:none; /* skjuler overskriften på  M og S mobiler */
    }

    #wine-welcome img {
        padding: 5% 24% 0;
    }

    #wine-welcome p {
        padding: 4% 16% 2% 16%;
    }

    .wine-container {
        width: 47%;
    }
    
    #wine-content-container {
        gap: 3%;
    }

    .wine-container p {
        width: 94%;
    }
}
